.alert {
    box-sizing: border-box;
    padding: 0.5em 1rem;
    color: var(--ink-white);
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.alert-info {
    background-color: var(--ink-blue);
}

.alert-warn {
    background-color: var(--ink-orange);
}

.alert-success {
    background-color: var(--ink-green);
}

.alert-danger {
    background-color: var(--ink-red);
}

.alert .alert-close:last-child {
    margin-left: auto;
    cursor: pointer;
}