@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css");

:root {
    --w-demo-container: 50em;
}

.demo {
    background-color: var(--ink-grey);
    max-width: var(--w-demo-container);
    border-radius: 1rem;
    overflow-x: scroll;
    align-items: center;
    justify-content: center;
}

.code {
    max-width: var(--w-demo-container);
    padding: 0;
}