.list {
    overflow: scroll;
}

.list > li {
    padding: 0.5rem;
}

.list-no-bullets {
    padding: 0;
    margin: 0;
}

.list-no-bullets > li {
    list-style: none;
}

.list-stacked {
    padding: 0;
    margin: 0;
}

.list-stacked > li {
    padding: 1rem;
    list-style: none;
    border-bottom: 1px solid var(--ink-primary);
}

.list-horizontal {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

.list .list-item-active {
    background-color: var(--ink-primary);
    color: white;
}

.list-horizontal .list-item-active {
    border-bottom: 2px solid var(--ink-primary);
    background-color: unset;
    color: unset;
}

.list-stacked .list-item-active {
    border-bottom: 2px solid var(--ink-primary);
    background-color: var(--ink-primary);
    color: white;
}