.layer {
    position: relative;
}

.overlay-top-left {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

.overlay-top-right {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.overlay-bottom-left {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
}

.overlay-bottom-right {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-gap {
    gap: 1rem;
}

.inline {
    display: inline-block;
}

.pointer {
    cursor: pointer;
}

.w-full {
    width: 100%;
}

.m-left-auto {
    margin-left: auto;
}