.layer {
    position: relative;
}

.overlay-top-left {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

.overlay-top-right {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.overlay-bottom-left {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
}

.overlay-bottom-right {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}

.flex {
    display: flex;
    align-items: center;
}

.flex.flex-end {
    justify-content: flex-end;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.m-left-auto {
    margin-left: auto;
}