:root {
    --ink-primary: #0468d7;
    
    --ink-red: #d43324;
    --ink-green: #4CAF50;
    --ink-blue: #0468d7;
    --ink-orange: #FFC107;
    --ink-grey: #dadce0;
    --ink-white: #ffffff;

    --ink-grey-dark: #4a4a4a;
    --ink-grey-light: #a4a4a4;
}